*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media(min-width:992px){
    .original{
        display:block;
    }
    .respo{
        display:none;
    }
}
@media(max-width:992px){
    .original{
        display:none;
    }
    .respo{
        display:block;
    }
    .respo{
        box-shadow: 0 86px 34px rgba(0,0,0,.01), 0 48px 29px rgba(0,0,0,.03), 0 5px 12px rgba(0,0,0,.05), 0 0 0 rgba(0,0,0,.05);
        /* position: fixed; */
        z-index: 6;
        width: 100%;
        position: fixed;
    }
}
.overalll{
    width:85%;
    margin: auto;
    padding: 13px 50px;
  
    z-index: 12;
}

.colors{
    box-shadow: 0 86px 34px rgba(0,0,0,.01), 0 48px 29px rgba(0,0,0,.03), 0 5px 12px rgba(0,0,0,.05), 0 0 0 rgba(0,0,0,.05);
    /* position: fixed; */
    z-index: 6;
    width: 100%;
    position: fixed;
   
}
.ico{
    color:gray
}
.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
    background-color: #fff !important;

}

.img
{
    filter:grayscale(1) brightness(0);
    
}


.box:hover{
    background-color: #ebeaea;

}
.box:hover>.img{
    filter:none;
}
.box{
    text-align: center;
    margin-right: 20px;
    padding: 10px;
    border-radius: 8px;
}
.css-1pz7awu-MuiButtonBase-root-MuiIconButton-root{
    border-radius: 10px !important;
    padding: 5px 10px !important;
}
.busicon{
    width:80%;
}
/* .color{
    color:#fff;
} */

.content{
    color:#1d1d1d;
    font-size: 15px;
    margin-top: 0;
    font-weight:500;
}

.box1{
    display: flex;
}